@import "tailwindcss";


@theme {
  --color-background: #FFFFFF;
  --color-foreground: #293D31;

  --color-card: #FFFFFF;
  --color-card-foreground: #293D31;

  --color-primary: #B1DABC;
  --color-primary-foreground: #293D31;
  --color-primary-dark: #44AD72;

  --color-mint-green: #CEF1DC;
  --color-jade-green: #44AD72;

  --color-whitesmoke: #F5F6F8;

  /* Base */
  --color-popover: #FFFFFF;
  --color-popover-foreground: #293D31;
  
  /* Primary */
  --color-primary: #B1DABC;
  --color-primary-foreground: #293D31;
  --color-primary-dark: #44AD72;
  
  /* Secondary */
  --color-secondary: #F3F8F5;
  --color-secondary-foreground: #293D31;
  
  /* Muted */
  --color-muted: #F6F8F7;
  --color-muted-foreground: #607A6A;
  
  /* Accent */
  --color-accent: #F2953A;
  --color-accent-foreground: #FFFFFF;
  
  /* Destructive */
  --color-destructive: #E33C3C;
  --color-destructive-foreground: #FFFFFF;
  
  /* Borders & Inputs */
  --color-border: #E3EBE6;
  --color-input: #E3EBE6;
  --color-ring: #B1DABC;
  
  /* Radius */
  --radius: 0.75rem;
  
  /* Sidebar */
  --color-sidebar-background: #FAFAFA;
  --color-sidebar-foreground: #3F4045;
  --color-sidebar-primary: #1A1A1A;
  --color-sidebar-primary-foreground: #FAFAFA;
  --color-sidebar-accent: #F4F4F4;
  --color-sidebar-accent-foreground: #1A1A1A;
  --color-sidebar-border: #E6E8EB;
  --color-sidebar-ring: #337BFF;
}
